<tr>
  <td><a class="product" href="<%= @id %>">
    <%= @name %>
  </a></td>
  <td><%= @base_price %></td>
  <td><%= @description %></td>
  <td><%= @quantity_on_hand %></td>
  <td><%= @color %></td>
  <td><%= @weight %></td>
</tr>